@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Geologica:wght@600&family=IBM+Plex+Sans+Arabic&family=Montserrat:wght@400;500&family=Quicksand:wght@700&family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Cairo:wght@600&family=Geologica:wght@600&family=IBM+Plex+Sans+Arabic&family=Montserrat:wght@400;500&family=Quicksand:wght@700&family=Work+Sans:wght@500&display=swap');

span {
    color: purple;
    font-family: 'Quicksand';
}
.card {
    font-family: 'Cairo';
}